<section class="container">
    <h3 class ="blogpost-name">{{blogpost.name}}</h3>
    <p class="blogpost-content">{{blogpost.content}}</p>
    <p class="blogpost-date">{{blogpost.date}}</p>

</section>